button{
      margin-top: 25px;
      margin-right: 20px;
      width: 99px;
      border: border-secondary; 
      font-size:14px;
      background:grey;
      color:black;
    }
    .first{
      margin-left: 1%;
    }
    .last{
      margin-left: 40%;
    }
nav{
    margin-top: 15px;
}

li{
  
  padding-left:20px;
}

a{
  background:grey;
}