<p>task-pool works!</p>
<div class="container">
<h2 style="text-align: center;"> TASKS</h2>
<div class="row">
<div class="dropdown">
    <label for="departments" style="margin: 20px;text-align: center;">Department</label>
  <select name="departments" id="departments" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <option value="HR"><a class="dropdown-item" href="#">HR</a></option>
    <option value="Accounting"><a class="dropdown-item" href="#">Accounting</a></option>
    <option value="Project"><a class="dropdown-item" href="#">Project Management</a></option>
  </select>
  </div>
  <div class="w-100">
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 198px;position: absolute;">Task1</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 258px;left: 160px;position: absolute;">Task2</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 258px;left: 590px;position: absolute;">Task3</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 370px;left: 250px;position: absolute;">Task4</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 198px;left: 450px;position: absolute;">Task5</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 370px;left: 690px;position: absolute;">Task6</span>
  <div>
</div>
</div>